@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screen;

/* Custom styles go below */

/* Primary and Secondary colors for icons */
.primary{
	fill:#9561E2;
}
.secondary{
	fill:#FFFFFF;
}

.trash-primary{
	fill:#CC1F1A;
}

.trash-secondary{
	fill:#621B18;
}

.calendar-primary{
	fill:#9561E2;
}

.calendar-secondary{
	fill:#794ACF;
}

.clock-primary{
	fill:#9561E2;
}

.clock-secondary{
	fill:#F3EBFF;
}

/* Header */
.header-background{
  background: rgb(26,21,111);
  background: linear-gradient(142deg, rgba(26,21,111,1) 0%, rgba(234,13,238,1) 100%);
}

/* Account */
.my-sales-table:last-child:hover{
	@apply rounded-b-lg
}

/* Home */
.sale {
	transition: all 0.2s ease;
}
.sale .previewimage{
  transition: all 0.2s ease;
}
.sale:hover .previewimage{
  margin-right:0.4rem;
  transition: all 0.2s ease;
}

/* Trix Customizations */
.trix-container.trix-editor{
	@apply w-full bg-grey-light p-3 text-2xl text-black rounded-lg border-2 border-transparent text-lg
}

.trix-container{
	@apply text-lg
}
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-code,
.trix-button--icon-quote,
.trix-button--icon-heading-1,
.trix-button--icon-link,
.trix-button--icon-number-list { display: none; }
.trix-content{
	@apply w-full bg-grey-light p-3 text-lg text-black rounded-lg border-2 border-transparent 
}
.trix-content:hover{
	@apply border-grey
}
.trix-content:focus{
	@apply outline-none bg-white border-grey
}